/*INDEX Y PRODUCTOS*/
.barra{
    background-color: #1D3557;
}
/*Color de la letra en barra de busqueda*/
.navbar .navbar-link {
    color: white !important;
}
/*hover en barra de busqueda*/
ul li a:hover{
    background-color: #4566ac !important;
    font-weight: bold;
    color: white !important;
    border-radius: 20px;
}
/*estilos de todas las cards*/
.cards {
    margin-top: 20px;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #F1FAEE;
    padding: 10px;
}
/*Hover de todas las cars*/
.card-hover:hover{
    transform: scale(1.02);
    transition: transform 0.2s ease;
}
/*Estilos de los titulos de las categorias de los productos*/
.categoria-titulo {
  font-weight: bold;
  color: #2c3e50;
  border-left: 6px solid #00bcd4;
  padding-left: 12px;
}
/*Hover de los titulo de la categorias de los productos*/
.categoria-titulo:hover{
    font-size:x-large;
    color: #4566ac;

}


/*FOOTER*/
.footer{
    background-color: #1D3557;
    height: 80px;
    color: white;
    text-align: center;
    margin-top: 35px;
    width: 100%;
    font-size: large;
   
}

/*LOGIN*/
.form{
    margin-top: 5% !important;
    margin-bottom: 9% !important;
  
}
