<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-comerce</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/styles.css" rel="stylesheet">

</head>

<body> 
    <!--barra de busqueda-->
    <nav class="navbar navbar-expand-lg navbar-dark barra">
        <div class="container-fluid">

            <a class="navbar-brand" href="../index.html"><strong>E-comerce</strong></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../view/productos.html">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/iniciarSesion.html">INICIAR SESIÓN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../view/registrarse.html">REGISTRO</a>
                    </li>
                </ul>
            </div>
    </nav>

    <!--Titulo de la categoria-->
    <br>
    <h5 class="categoria-titulo"><strong>Ropa Masculina</strong></h5>

    <!--Cards fila 1-->
    <div class="row cards">

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ;">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_mas_1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Chaqueta Explorer</h5>
                    <p class="card-text"></p>
                    <a href="" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem;  ">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_mas_2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Jeans Urbanos</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_mas_3.jpg">
                <div class="card-body">
                    <h5 class="card-title">Zapatos Oxford</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_mas_4.jpg">
                <div class="card-body">
                    <h5 class="card-title">Camisa Polo Pro</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

    </div>

    <!--Titulo de la categoria 2-->
    <br>
    <h5 class="categoria-titulo"><strong>Ropa Femenina</strong></h5>

    <!--Cards fila 2-->
    <div class="row cards">

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_fem_1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Vestido Glam</h5>
                    <p class="card-text"></p>
                    <a href="" class="btn btn-primary">Conoce más</a>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem;  ">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_fem_2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Tacones Elegance</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_fem_3.jpg">
                <div class="card-body">
                    <h5 class="card-title">Crop Top Chill</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>

        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ">
                <img class="card-img-top" src="../assets/img/productos_categorias/ropa_fem_4.jpg">
                <div class="card-body">
                    <h5 class="card-title">Falda Boho</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

    </div>

    <!--Titulo de la categoria 3-->
    <br>
    <h5 class="categoria-titulo"><strong>Tecnología</strong></h5>

    <!--Cards fila 3-->
    <div class="row cards">

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ">
                <img class="card-img-top" src="../assets/img/productos_categorias/tecnologia_1.jpg">
                <div class="card-body">
                    <h5 class="card-title">Cámara ProShot</h5>
                    <p class="card-text"></p>
                    <a href="" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem;  ">
                <img class="card-img-top" src="../assets/img/productos_categorias/tecnologia_2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Audífonos BeatMax</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem;">
                <img class="card-img-top" src="../assets/img/productos_categorias/tecnologia_3.jpg">
                <div class="card-body">
                    <h5 class="card-title">Cargador Rápido</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card card-hover" style="width: 18rem; ">
                <img class="card-img-top" src="../assets/img/productos_categorias/tecnologia_4.jpg">
                <div class="card-body">
                    <h5 class="card-title">PC Gamer Core</h5>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary">Conoce más</a>
                </div>
            </div>
        </div>

    </div>


    <!--footer-->
    <div class="footer">
        Para mayor información contáctanos en nuestras redes sociales :
        <p>
            <a href="https://www.instagram.com/">
                <img src="../assets/img/icons/instagram.png">
            </a>

            <a href="https://x.com/">
                <img src="../assets/img/icons/x.png">
            </a>
            </a>
            <a href="https://www.tiktok.com/es/">
                <img src="../assets/img/icons/tik-tok.png">
            </a>
        </p>
    </div>

    <!-- Bootstrap 5 JS (reemplaza los otros scripts) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>